/* My project CSS

* {
    font-family: 'Uchen', serif;
} */

@font-face {
    font-family: Aggradir;
    src: url(/Fonts/Agrandir/Agrandir-Regular.otf);
}

@font-face {
    font-family: Kollektif;
    src: url(/Fonts/Kollektif/Kollektif.ttf);
}


/* Homepage */

.Homepage {
    height: 100vh;
    width: 100%;
    display: block;
    background: linear-gradient(to bottom left, #0a65b0 0%, #264056 50%, #12212b 100%);
}

.myname {
    font-family: Agrandir-Regular;
    color: white;
    font-size: 80px;
    padding-left: 30px;
    margin-bottom: 0%;
    margin-top: 0%;
    padding-top: 0%
}

.webdev {
    font-family: Kollektif;
    color: white;
    padding-left: 30px;
    font-size: 30px;
    margin-top: 0%
}

.rectanglecenter {
    background-color: #FF5C00;
    height: 10px;
    width: 20%;
    position: absolute;
    left: 40%;
}

.hr {
    border: none;
    height: 2px;
    background-color: #FF5C00;
}

.homeimage {
    display: flex;
    gap: 100px;
    justify-content: center;
    margin-top: 50px
}

.frames {
    width: 250px;
    height: 150px;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.frames:hover {
    -webkit-transform: scale(1.1) rotate(0.1deg);
    transform: scale(1.1) rotate(0.1deg);
}

.frames svg {
    width: 15px;
    height: 15px;
}

.frameheader,
.framefooter {
    height: 30px;
    background-color: #0F1819;
    border: 3px solid #FF5C00;
}

.framefooter {
    display: flex
}

.framemain {
    height: 170px;
    border-left: 3px solid #FF5C00;
    border-right: 3px solid #FF5C00;
}

.framemain img {
    height: 170px;
    width: 243px;
}

.frames p {
    color: white;
    text-align: center;
    font-size: 30px
}

.framefootermain {
    height: 30px;
    width: 80%;
    margin-left: 10px;
    margin-right: 10px;
    border-right: 3px solid #FF5C00;
    border-left: 3px solid #FF5C00;
}

.logolist {
    float: right;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-right: 100px;
}

.logolist>li {
    padding: 5px 15px;
}

.logo {
    fill: white;
    width: 50px;
}


/* Navigator */

.navigator {
    background-color: #100F0D;
    height: 75px;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    gap: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navigator a {
    text-decoration: none;
}

.aboutmenav,
.myprojectnav,
.contactnav {
    height: 40px;
    width: 40px;
    align-self: center;
    color: transparent;
    border-radius: 50%;
    transition: width 1s;
}

.aboutmenav a,
.myprojectnav a,
.contactnav a {
    color: transparent;
}

.aboutmenav {
    background-color: #B8B9BB;
}

.myprojectnav {
    background-color: #563D7C;
}

.contactnav {
    background-color: #FF5C00;
}

.aboutmenav:hover,
.myprojectnav:hover,
.contactnav:hover {
    color: black;
    width: 100px;
    border-radius: 10px;
    font-size: medium;
    text-align: center;
}

.aboutmenav a:hover,
.myprojectnav a:hover,
.contactnav a:hover {
    color: black;
}


/* About me */

#aboutme {
    height: 100vh;
    background: linear-gradient(to bottom, #071928 0%, #09141d 10%, #051f31 20%, #0a2f46 30%, #173b55 40%, #0a2f46 50%, #051f31 60%, #09141d 70%, #071928 80%, #737373 100%);
}

.aboutmediv {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    opacity: 0;
    transform: scale(1.2);
}

.aboutmepic {
    height: 350px;
    width: 350px;
    background-color: #B8B9BB;
    align-self: center;
    border: 10px solid #100F0D;
    margin-top: 10%;
    animation: picanimate 6s;
}

.aboutmepic img {
    height: 350px;
    width: 350px;
}

.aboutmediv2 {
    color: white;
    width: 60%;
    margin-top: 10%;
}

.aboutmename {
    font-size: 50px;
    animation: animated-text 4s steps(29, end) 1s 1 normal both, animated-cursor 600ms steps(29, end) infinite;
    border-right: solid 3px rgba(0, 255, 0, .75);
    white-space: nowrap;
    overflow: hidden;
    color: rgba(255, 255, 255, .70);
    animation-delay: 6s;
    animation-iteration-count: infinite;
}

.aboutmediv2 p {
    font-size: 20px;
    animation: fadeIn 6s;
}

@keyframes animated-text {
    from {
        width: 0;
    }
    to {
        width: 300px;
    }
}

@keyframes picanimate {
    from {
        width: 0;
    }
    to {
        width: 350px;
    }
}

@keyframes animated-cursor {
    from {
        border-right-color: rgba(0, 255, 0, .75);
    }
    to {
        border-right-color: transparent;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .aboutmediv {
        transition: opacity 1.5s ease, transform 1.5s ease;
    }
}

.aboutmediv-transition {
    opacity: 1;
}

@keyframes projectanimate {
    from {
        justify-content: flex-start;
    }
    to {
        justify-content: center;
    }
}


/* My Projects */

#project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    background: linear-gradient(to bottom, #737373 0%, #696969 10%, #7d7d7d 20%, #bdbdbd 30%, #d3d3d3 40%, #7d7d7d 50%, #696969 60%, #737373 70%, #dbdbdb 80%, #d3d3d3 90%, #737373 100%);
}

.projectheader {
    text-align: center;
    margin-top: 10%;
}

.projectheader b {
    color: black;
    font-size: 100px;
    margin-bottom: 0%;
    text-shadow: 2px 2px white;
}

.projectheader p {
    color: black;
    font-size: 50px;
    margin-bottom: 0%;
    margin-top: 0%
}

.myprojects {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    margin-top: 100px
}

.myprojectimage {
    height: 350px;
    width: 350px;
    background-color: #B8B9BB;
    align-self: center;
    border: 10px solid #100F0D;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.myprojectimage:hover {
    -webkit-transform: scale(1.2) rotate(0.01deg);
    transform: scale(1.2) rotate(0.01deg);
}

.myprojectimage img {
    height: 350px;
    width: 350px;
}

.myprojectdescription {
    color: black;
    width: 700px
}

.myprojectdescription h1 {
    font-size: 40px;
}

.myprojectdescription p {
    font-size: 20px;
}

.code,
.website {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    height: 40px;
    box-shadow: 2px 2px;
    background-color: #737373;
}

.code:hover,
.website:hover {
    -webkit-transform: scale(1.1) rotate(0.01deg);
    transform: scale(1.1) rotate(0.01deg);
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}


/* Contact Me */

#facebook:hover {
    fill: rgb(66, 103, 178);
}

#instagram:hover {
    fill: rgb(231, 94, 231);
}

#twitter:hover {
    fill: rgb(29, 161, 242);
}

#github:hover {
    fill: rgb(10, 10, 10);
}

#email:hover {
    fill: rgb(7, 7, 7);
}

#linkedin:hover {
    fill: rgb(37, 51, 254);
}

#contact {
    height: 200px;
    background-color: #191e26;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.log {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}

.resume {
    background-color: #191e26;
    border: none;
    text-align: center;
}

.resume a {
    text-decoration: none;
    color: white;
    font-size: 40px;
}

.resume a:hover {
    color: rgb(140, 135, 135);
}

@media screen and (max-width:980px) {
    .homeimage {
        gap: 50px;
    }
    .myname {
        font-size: 60px;
    }
    .webdev {
        font-size: 20px;
    }
    .frames {
        width: 175px;
    }
    .frames svg {
        width: 10px;
        height: 10px;
    }
    .frameheader,
    .framefooter {
        height: 20px;
        background-color: #0F1819;
        border: 3px solid #FF5C00;
    }
    .framefooter {
        display: flex
    }
    .framemain {
        height: 120px;
    }
    .framemain img {
        height: 120px;
        width: 170px;
    }
    .frames p {
        font-size: 20px
    }
    .framefootermain {
        height: 20px;
    }
    .logo {
        width: 30px;
    }
    /* Navigator */
    .navigator {
        height: 50px;
    }
    .aboutmenav,
    .myprojectnav,
    .contactnav {
        height: 30px;
        width: 30px;
    }
    /* About me */
    .aboutmepic {
        height: 250px;
        width: 250px;
    }
    .aboutmepic img {
        height: 250px;
        width: 250px;
    }
    .aboutmediv2 {
        width: 50%;
    }
    .aboutmename {
        font-size: 35px;
    }
    .aboutmediv2 p {
        font-size: 20px;
    }
    @keyframes animated-text {
        from {
            width: 0;
        }
        to {
            width: 200px;
        }
    }
    @keyframes picanimate {
        from {
            width: 0;
        }
        to {
            width: 250px;
        }
    }
    /* My Projects */
    .projectheader b {
        font-size: 75px;
    }
    .projectheader p {
        font-size: 30px;
    }
    .myprojectimage {
        height: 250px;
        width: 250px;
    }
    .myprojectimage img {
        height: 250px;
        width: 250px;
    }
    .myprojectdescription {
        width: 500px
    }
    .myprojectdescription h1 {
        font-size: 30px;
    }
    .myprojectdescription p {
        font-size: 15px;
    }
    .code,
    .website {
        height: 20px;
    }
    .code img,
    .website img {
        height: 15px;
    }
}

@media screen and (max-width:780px) {
    .Homepage {
        height: 175vh;
    }
    .homeimage {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logolist {
        margin-right: 0px;
    }
}

@media screen and (max-width:600px) {
    .logolist {
        margin-right: 0px;
    }
    .aboutmediv {
        flex-direction: column;
    }
    #aboutme {
        height: 175vh;
    }
    .aboutmediv2 {
        width: 80%
    }
    .myprojects {
        flex-direction: column;
        margin-top: 50px
    }
    .myprojectdescription {
        width: 80%
    }
    .projectheader b {
        font-size: 75px;
    }
    .projectheader p {
        font-size: 30px;
    }
}